<!DOCTYPE html>
<html lang="en" style="user-select: none;">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

     <title>VK parser (change password)</title>

     <link rel="stylesheet" href="static/css/style.css">

     <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
</head>
<body>
     <header class="header">
          <div class="container">
               <div class="header__inner">
                    <div class="title">
                         <h1 class="title">
                              <a href="/" style="text-decoration: none; color: rgb(147, 191, 236);">VK parser</a> (change password)
                         </h1>
                    </div>
               </div>
          </div>
     </header>
     <main class="main">
          {% if error != '' %}
               <div stule="color: red;" style="color: red;">[!] <b>{{ error }}</b></div>
          {% endif %}
          <form action="/set_new_password" method="POST">
               <section class="id">
                    <h2 class="subtitle">Id: <input type="number" name="id-input" class="id-input" id="id-input" autocomplete="off" required></h2>
               </section>

               <section class="old_password">
                    <h2 class="subtitle">Old password: <input type="password" name="old_password-input" class="old_password-input" id="old_password-input" autocomplete="off" required></h2>
                    <label><input type="checkbox" class="password-checkbox" id="password-checkbox-1" onclick="hide_show_password()"> Show password</label>
               </section>

               <section class="new_password">
                    <h2 class="subtitle">New password: <input type="password" name="new_password-input" class="new_password-input" id="new_password-input" autocomplete="off" required></h2>
                    <label><input type="checkbox" class="password-checkbox" id="password-checkbox-2" onclick="hide_show_password()"> Show password</label>
               </section>

               <section class="repeat_new_password">
                    <h2 class="subtitle">Repeat new password: <input type="password" name="repeat_new_password-input" class="repeat_new_password-input" id="repeat_new_password-input" autocomplete="off" required></h2>
                    <label><input type="checkbox" class="password-checkbox" id="password-checkbox-3" onclick="hide_show_password()"> Show password</label>
               </section>

               <section class="submit_button">
                    <button type="submit" class="button">Submit</button>
               </section>
          </form>
     </main>
</body>
<script src="static/js/main.js"></script>
</html>