<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden; user-select: none;">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>VK parser</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/static/css/style.css">

    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
</head>
<body>
	<header class="header active">
		<div class="container">
			<div class="header__inner">
				<div class="header__top">
					<div class="title"><h1 class="title"><a href="/" style="text-decoration: none; color: rgb(147, 191, 236);">VK parser</a></h1></div>
				</div>
			</div>
		</div>
	</header>
    <main class="main_main active">
        <!-- {% if error != '' %}
            <div stule="color: red;" style="color: red;">[!] <b>{{ error }}</b></div>
        {% endif %} -->
        <form action="/load">
            <input type="text" name="user_id" class="user_id" style="display: none;" value="{{ user_id }}">
            <section class="limit">
                <h2 class="subtitle">Limit: <input type="number" name="limit-input" id="limit-input" class="limit-input" autocomplete="off" required></h2>
                <!-- <ol style="display: block;"><li style="font-size: 16px; margin-top: 6px;">* If date = false then limit <= <span style="color: rgb(0 212 255);">1000</span></li></ol> -->
            </section>

            <section class="likes">
                <label class="checkbox"><h2 class="subtitle">Likes: <input class="likes-checkbox" name="likes-input" type="checkbox" id="likes_checkbox" onclick="clickFunction()" autocomplete="off"></h2></label>
                <ol class="likes_ul" id="likes_ul">
                    <li>
                        <select name="likes_select">
                            <option selected value=">">></option>
                            <option value=">=">>=</option>
                            <option value="=">=</option>
                            <option value="<="><=</option>
                            <option value="<"><</option>
                        </select>
                    </li>
                    <li>
                        Count: <input type="number" name="likes-input__count" id="likes-input" autocomplete="off">
                    </li>
                </ol>
            </section>

            <section class="subscribers">
                <label class="checkbox"><h2 class="subtitle">Subscribers: <input class="subscribers-checkbox" name="subscribers-input" type="checkbox" id="subscribers_checkbox" onclick="clickFunction()" autocomplete="off"></h2></label>
                <ol class="subscribers_ul" id="subscribers_ul">
                    <li>
                        <select name="subscribers_select">
                            <option selected value=">">></option>
                            <option value=">=">>=</option>
                            <option value="=">=</option>
                            <option value="<="><=</option>
                            <option value="<"><</option>
                        </select>
                    </li>
                    <li>
                        Count: <input type="number" name="subscribers-input__count" id="subscribers-input" autocomplete="off">
                    </li>
                </ol>
            </section>

            <section class="verified">
                <label class="checkbox">
                    <h2 class="subtitle">Verified: 
                        <select class="verified-select" name="verified-select" id="verified-select" autocomplete="off">
                            <option value="Yes">Yes</option>
                            <option value="No" selected>No</option>
                        </select>
                    </h2>
                </label>
            </section>

            <section class="key_word">
                <h2 class="subtitle">Key word: <input class="key_word-input" name="key_word-input" type="text" id="key_word-input" autocomplete="off" required></h2>
            </section>

            <section class="stop_word">
                <h2 class="subtitle">Pass word: <input class="stop_word-input" name="stop_word-input" type="text" id="stop_word_checkbox" autocomplete="off"></h2>
            </section>

            <section class="date">
                <input type="text" class="date-input" name="date-checkbox" id="date-input" value="NO" style="display: none;">
                <label class="checkbox"><h2 class="subtitle">Date: <input class="date-checkbox" name="date-input" type="checkbox" id="date_checkBox" onclick="clickFunction()" autocomplete="off"></h2></label>
                <ol class="date_ul" id="date_ul">
                    <li>
                        Start time: <input type="date" name="start_time" id="date-input_1" autocomplete="off">
                    </li>
                    <li>
                        Stop time: <input type="date" name="end_time" id="date-input_2" autocomplete="off">
                    </li>
                    <li style="font-size: 13px; margin-top: 6px; color: rgb(0 212 255);">
                        * (stop time > start time)
                    </li>
                </ol>
            </section>

            <section class="button">
                <button type="submit" class="button" onclick="check_invalid_str()">Submit</button>
            </section>
        </form>
    </main>
    <main class="main_load disactive">
        <form action="/show_status_load/{{ user_id }}">
            <!-- <input type="text" name="user_id" class="user_id" style="display: none;" value="{{ user_id }}"> -->
            <div class="title">
                <h1 class="title">
                    <a href="/" style="text-decoration: none; color: rgb(147, 191, 236);">VK parser</a>
                    <button type="submit" class="button_2" style="text-decoration: none; color: rgb(59, 87, 116);">(loading...)</button>
                </h1>
            </div>
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </form>
    </main>
</body>
<script src="static/js/main.js"></script>
</html>