<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>VK parser (login)</title>
     
	<link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
 
     <link rel="stylesheet" href="/static/css/style.css">
 
     <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
</head>
<body>
     <header class="header active">
		<div class="container">
			<div class="header__inner">
				<div class="header__top">
					<div class="title"><h1 class="title"><a href="/" style="text-decoration: none; color: rgb(147, 191, 236);">VK parser</a> (login)</h1></div>
				</div>
			</div>
		</div>
	</header>
     <main>
          <div>
               {% if error != '' %}
                    <h3 style="color: red;"><b>[!]</b> {{ error }}</h3>
               {% endif %}
          </div>
          <form action="/">
               <h2 class="subtitle">Id: <input type="number" name="user_id" class="id-input" id="id-input" autocomplete="off" required></h2>
               <button type="submit" class="button">Submit</button>
          </form>
     </main>
</body>
</html>